.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Welcome {
  font-size: 20px;
  text-align: center;
}

.Navigation.ui.menu {
  font-size: 25px;
  margin-bottom: 30px;
}

.teacher-list {
  display: table;
  margin: auto;
  width: 60%;
}

.teacher {
  display: table;
  width: 100%;
}

.teacher-name {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}

.teacher-buttons {
  display: table-cell;
  vertical-align: middle;
}

.student-list {
  margin: auto;
  width: 30%;
}

.student {
  display: table;
  width: 100%;
}

.student-name {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}

.student-buttons {
  display: table-cell;
  vertical-align: middle;
}

.teacher-details {
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
}

.spinner {
  font-size: 25px;
}